.menu-grid {
  display: flex;
  max-height: fit-content;
  margin-top: 8rem;
  box-sizing: content-box;
  flex-flow: row;
  background-color: antiquewhite;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.menu-row {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.menu-row > .menu-column {
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
}

.menu-column > .menu-column:not(:last-child) {
  padding-bottom: 0.3rem;
}

.w-1 {
  flex-basis: calc(1 / 12 * 100%);
}
.w-2 {
  flex-basis: calc(2 / 12 * 100%);
}
.w-3 {
  flex-basis: calc(3 / 12 * 100%);
}
.w-4 {
  flex-basis: calc(4 / 12 * 100%);
}
.w-5 {
  flex-basis: calc(5 / 12 * 100%);
}
.w-6 {
  flex-basis: calc(6 / 12 * 100%);
}
.w-7 {
  flex-basis: calc(7 / 12 * 100%);
}
.w-8 {
  flex-basis: calc(8 / 12 * 100%);
}
.w-9 {
  flex-basis: calc(9 / 12 * 100%);
}
.w-10 {
  flex-basis: calc(10 / 12 * 100%);
}
.w-11 {
  flex-basis: calc(11 / 12 * 100%);
}
.w-12 {
  flex-basis: calc(100%);
}
.menu-column {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  flex-grow: 1;
}
